<html>
<head>
<script src="/jquery.js" ></script>
<script src="/socket.io/socket.io.js" ></script>
<script>
  var socket = io("<%=url%>");
</script>

</head>
  <body>
    <img src="<%=imgLink%>"/>
    <br>

    <form>
      <input type="text">
      <button type="button">Test</button>
    </form>

    <p id="resCheckToken"></p>

    <script >
      $( document ).ready(function() {
        $('button').click(function(){
          var optToken = $('input').val()
          socket.emit("test", optToken);
        })

        socket.on("resCheckToken",async (isValid) => {
          $('#resCheckToken').html(isValid.toString())
        })
      })

    </script>
  </body>
</html>
